#root_wrapper{
    width:100%;
}
img{
    vertical-align: middle;
}
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}
/*todo------------------------- header ------------------------*/
#header{
    width:100%;
    height:65px;
    padding: 3px 0 2px;
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
}
#header .content{
    position: relative;
    display: inline-block;
    width: 1200px;
    height:65px;
    padding: 0 15px;
}
/*logo*/
.logo_bar{
    float: left;
    display: block;
    width:280px;
    height:100%;
    line-height: 55px;
}
.logo_bar img{
    display: inline;
    max-width: 100%;
    max-height: 40px;
}
/*右侧菜单*/
.head_menu{
    right: 15px;
    float: right;
    height: 42px;
}
.head_menu li{
    float: left;
    line-height: 65px;
}
.head_menu li a{
    padding: 10px 15px;
    font-family: "黑体",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
.head_menu li .active{
    color: #e94840;
}
.head_menu .setCity{
    margin-right: 50px;
}
.head_menu .login_btn{
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #e94840;
    color: #fff;
    border-radius: 5px;
}
/*todo------------------header结束-------------------*/
.detail_wrapper{
    background-color: #fbf8f8;
    padding-bottom: 50px;
}
.detail_wrapper:after{
    content: "";
    display: table;
    clear: both;
}
.detail_content{
    width:1200px;
    margin: 0 auto;
}
/*面包屑导航*/
.all_category{
    height: 85px;
    overflow: hidden;
}
.all_category li{
    float: left;
}
.all_category span, .all_category a{
    font-size: 18px;
    line-height: 85px;
    font-family: "黑体", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.all_category .gt{
    margin: 0 10px;
}
.all_category .item{
    color: #fb4e55;
}
/*-------------------------------*/
.content_left{
    float: left;
}
.detail_head{
    width:958px;
    height:218px;
    border:1px solid #ccc;
    background-color: #fff;
}
.detail_head img{
    float: left;
    width: 158px;
    height: 158px;
    border: 1px solid #ccc;
    margin:30px;
}
.detail_head .about{
    margin-top: 30px;
    display: inline-block;
}
.detail_head .about > p{
    height: 42px;
    line-height: 42px;
}
.detail_head .about .name{
    font-size: 18px;
    color: #1d1515;
}
.about p > span{
    font-size: 14px;
}
.about .price .in_span{
    font-size: 20px;
    color: #fc545e;
    margin-left: 10px;
    font-weight: 700;
}
.about .price .in_span em{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.about .price .old_price{
    font-size: 14px;
    color: #898989;
    margin-left: 40px;
    font-weight: normal;
    text-decoration: line-through;
}
.special .youhui{
    border: 1px solid #fb474f;
    color: #fb474f;
    font-size: 12px;
    padding: 0 6px;
    border-radius: 6px;
    text-align: center;
    font-style: normal;
    margin-left: 10px;
    height: 24px;
    line-height: 24px;
}
.sold .count{
    color: #fb474f;
}
.detail_head .erweima{
    float: right;
    width: 115px;
    height: 177px;
    margin: 20px 60px 0 0;
}
.detail_head .erweima img{
    width: 115px;
    height: 115px;
    margin: 0;
}
.detail_head .erweima p{
    clear: both;
    width: 115px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 700;
}
.detail_head .erweima p:last-child{
    color: #fb474f;
}
/*===================================*/

.detail_body{
    width: 918px;
    min-height: 363px;
    padding: 30px 20px;
    border:1px solid #ccc;
    margin-top:10px;
    background-color: #fff;
}
.detail_body h3{
    border-bottom: 3px solid #fb474f;
    padding: 5px;
    margin-top: 10px;
    width: 66px;
    display: block;
    font-size: 16px;
    font-weight: 700;
}
.detail_body p{
    line-height: 24px;
    margin: 15px 0 5px;
    font-size: 14px;
}
.detail_body p span{
    margin-left: 20px;
}
.detail_body p span em{
    color: #fb474f;
    font-style: normal;
}
/*右侧*/
.content_right{
    float: right;
    width: 230px;
    height: 656px;
    margin-left: 10px;
}
.content_right_top{
    width: 228px;
    /*height: 354px;*/
    border:1px solid #ccc;
    background-color: #fff;
    text-align: center;
}
.content_right_top h3{
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    line-height: 60px;
    margin: 0;
    text-align: left;
    font-weight: 600;
}
.content_right_top img{
    width: 80px;
    height: 80px;
    margin: 40px 50px;
    text-align: center;
}
.content_right_top p.name{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.content_right_top p.desc{
    text-align: left;
    padding: 0 10px;
    line-height: 36px;
    margin-bottom: 0;
    font-size: 16px;
}
.content_right_top p.desc span{
    float: right;
    color: #fb474f;
}
.content_right_bottom{
    margin-top: 10px;
    width: 230px;
    height:290px;
    background-image: url("../images/fuwushang_10022.jpg");
    background-repeat:no-repeat;
    background-size:100% ;
}
.content_right_bottom img{
    width:130px;
    height: 130px;
    margin: 50px 0 0 50px;
}





/*===============到位服务保障=================*/
#guarantee{
    width:100%;
    background-color: #fff;
    clear: both;
}
#guarantee .top{
    width:100%;
    text-align: center;
    padding-top: 60px;
}
#guarantee .top h2{
    font-size: 28px;
    font-family: "微软雅黑";
    font-weight: 800;
}
#guarantee .top span{
    color: #fb474f;
    font-weight: inherit;
}
#guarantee .top p{
    font-size: 20px;
    color: #3d3838;
    margin: 10px 0 0;
}
#guarantee .bottom{
    width: 100%;
    padding-top: 68px;
    background: #fff;
    height: 150px;
    font-family: "微软雅黑";
}
#guarantee .bottom ul{
    display: flex;
    width: 850px;
    margin: 0 auto;
    box-sizing: border-box;
}
#guarantee .bottom ul li{
    width: 33%;
    text-align: center;
    color: #1d1515;
    font-size: 18px;
}
#guarantee .bottom ul li img{
    margin-bottom: 10px;
}

/*==========cities===========*/
#cities{
    background-color: #fff;
    /*width: 1200px;*/
    width: 100%;
    clear: both;
    padding-top: 50px;
    /*padding:50px 60px 0 60px ;*/
    height: 110px;
    margin: 0 auto;
}
#cities .title{
    float: left;
    margin-left: 60px;
    font-weight: 700;
    font-size: 14px;
}
#cities .city_list{
    margin-left: 40px;
    width: 1100px;
    line-height: 30px;
    float: right;
}
#cities .city_list li{
    font-size: 16px;
    color: #898989;
    display: inline-block;
    width: 8%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-family: "微软雅黑";
}
/*==============footer==============*/
#footer{
    width:100%;
    height:80px;
    padding-top: 50px;
    background-color: #FBF8F8;
}
#footer .copyright{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
#footer p{
    color: #898989;
    font-size: 15px;
    margin-bottom: 15px;
}