
/*登录*/
.login{
    width:298px;
    height:293px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 150px auto 0;
}
 .logo{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:70px;
    line-height: 70px;
    /*padding-bottom: 10px;*/
}
 .logo img{
    width: 290px;
    vertical-align: middle;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.login .icon-1 {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}
.input-group-addon:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.input-group .form-control:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.login input[type="text"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
}
input:not([type=radio]):not([type=checkbox]){
    vertical-align: middle;
}
.login .form-control {
    display: table-cell;
    position: relative;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    z-index: 2;
    float: left;
    width: 100%;
}

.login_btn,.reg_btn{
    width: 298px;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border: 1px solid #2e6da4;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}
.login_btn:hover{
    background-color: #286090;
}
.login_footer{
    display: flex;
    justify-content: space-between;
    width: 258px;
    height:40px;
    padding:20px;
}
.login_footer a{
    text-decoration: none;
    color: #337ab7;
    font-size: 14px;
}

/*注册*/
.register{
    width:298px;
    height:526px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 150px auto 0;
}
.inputs{
    width:272px;
    height:36px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}
.input_check{
    position: relative;
    width:298px;
    height:100px;
    margin:5px 0;
}
.input_check img{
    width:200px;
    height:48px;
    border:1px solid #ccc;
}
.input_check .check_input{
    width:176px;
    height:36px;
    padding:6px 12px;
    border:1px solid #ccc;
    margin-top: -4px;
}
.input_check .btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width:70px;
    height:86px;
    padding:6px 12px;
    border:1px solid #ccc;
    font-size: 14px;
    line-height: 86px;
    color: #555;
    background-color: #eee;
    cursor: pointer;
}
.register a{
    color: #337ab7;
    text-decoration: none;
    font-size: 14px;
}
.register a:hover{
    text-decoration: underline;
}
.reg_margin{
    margin: 35px 0;
}
.to_login{
    text-align: center;
    margin-top: -15px;
}